<div class="padding">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header"><strong>Kredi kartı</strong></div>

        <form [formGroup]="creditCardAddForm">
          <div class="card-body">
            <div class="col-md-12" style="margin-bottom: 20px;">
              <label for="creditCardNumber">Kredi Kartı Numarası</label>
              <div class="form-group">
                <input class="form-control"  type="text" id="creditCardNumber" formControlName="creditCardNumber" maxlength="16" placeholder="0000 0000 0000 0000"/>
              </div>
            </div>

            <div class="col-md-5" style="display: inline-block; margin-right: 50px;">
              <div class="form-group">
                <label for="expiration">Son kullanma tarihi</label>
                <input class="form-control" formControlName="expiration" id="expiration" type="text" maxlength="5" placeholder="02/2021"/>
              </div>
            </div>

              <div class="col-md-5" style="display: inline-block;">
                <div class="form-group">
                  <label for="CardSecurityNumber">CVV/CVC</label>
                  <input class="form-control" formControlName="CardSecurityNumber" id="CardSecurityNumber" type="text" maxlength="3" placeholder="123"/>
                </div>
              </div>



            </div>
        </form>

        <div class="card-footer">
          <button class="btn btn-sm btn-success" style="float: right;" (click)="add()">Onayla</button>
        </div>

      </div>
    </div>
  </div>
</div>
