<div class="mb-3" style="margin-bottom: 20px">
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Arama ifadesi giriniz"/>
</div>

<!--<form >-->
<!--  <label for="brands">Araba markası seçiniz:</label>-->
<!--  <select name="brands" id="brands" style="margin-right: 10px" [(ngModel)]="brandId">-->
<!--    <option *ngFor="let brand of brands" value=" {{brand.id}} ">{{ brand.brandName }}</option>-->
<!--  </select>-->

<!--  <label for="colors">Renk seçiniz:</label>-->
<!--  <select name="colors" id="colors" style="margin-right: 10px" [(ngModel)]="colorId">-->
<!--    <option *ngFor="let color of colors"  value="{{ color.id }}">{{ color.colorName }}</option>-->
<!--  </select>-->

<!--  <input type="submit" value="Filtrele" routerLink="cars/{{brandId}}/{{colorId}}"/>-->
<!--</form>-->

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let car of cars | filterPipe: filterText">
    <div class="card h-100">
      <img
        src="{{path}}{{ car.carImages[0].imagePath}}"
        class="card-img-top"
        alt="Resim bulunamadı"
      />
      <div class="card-body">
        <h5 class="card-title">{{ car.carName }}</h5>
        <p class="card-text">Yıl: {{ car.modelYear }}</p>
        <p class="card-text">Renk: {{ car.colorName }}</p>
        <p class="card-text">Günlük Fiyat: {{ car.dailyPrice }}</p>
        <p class="card-text">{{ car.description }}</p>
        <button
          type="button"
          style="float: right"
          class="btn btn-dark mx-right"
          routerLink="cars/{{ car.carId }} "
        >
          Detaylar
        </button>
      </div>
    </div>
  </div>
</div>
